@tailwind base;
@tailwind components;
@tailwind utilities;

.nunito-unique-class {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Replace with desired weight */
    font-style: normal;
  }

  .nunito-custom {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600; /* Adjust weight */
    font-style: normal;
  }

  .nunito-sans-custom {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* Adjust weight */
    font-variation-settings: "wdth" 100, "YTLC" 500;
    font-style: normal;
  }